<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>致瑞迪小宝贝</title>
    <link rel="shortcut icon" href="../static/img/r.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jquery.bxslider.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <svg class="display-none">
      <symbol viewBox="0 0 512 512" id="icon-search">
        <path d="M448.3,424.7L335,311.3c20.8-26,33.3-59.1,33.3-95.1c0-84.1-68.1-152.2-152-152.2c-84,0-152,68.2-152,152.2
	s68.1,152.2,152,152.2c36.2,0,69.4-12.7,95.5-33.8L425,448L448.3,424.7z M120.1,312.6c-25.7-25.7-39.8-59.9-39.8-96.3
	s14.2-70.6,39.8-96.3S180,80,216.3,80c36.3,0,70.5,14.2,96.2,39.9s39.8,59.9,39.8,96.3s-14.2,70.6-39.8,96.3
	c-25.7,25.7-59.9,39.9-96.2,39.9C180,352.5,145.8,338.3,120.1,312.6z"/>
      </symbol>
      <symbol viewBox="0 0 512 512" id="icon-close">
        <polygon class="st0" points="340.2,160 255.8,244.3 171.8,160.4 160,172.2 244,256 160,339.9 171.8,351.6 255.8,267.8 340.2,352 
	352,340.3 267.6,256 352,171.8 "/>
      </symbol>
      <symbol viewBox="0 0 512 512" id="icon-toggle">
        <g>
          <rect x="96" y="241" width="320" height="32"/>
          <rect x="96" y="145" width="320" height="32"/>
          <rect x="96" y="337" width="320" height="32"/>
        </g>
      </symbol>
      <symbol viewBox="0 0 512 512" id="icon-arrow-right">
        <rect x="0" y="0" width="512" height="512" fill="#ffffff"/>
        <polygon points="160,115.4 180.7,96 352,256 180.7,416 160,396.7 310.5,256 "/>
      </symbol>
      <symbol viewBox="0 0 512 512" id="icon-arrow-left">
        <rect x="0" y="0" width="512" height="512" fill="#ffffff"/>
        <polygon points="352,115.4 331.3,96 160,256 331.3,416 352,396.7 201.5,256 "/>
      </symbol>
    </svg>
    <header class="header  container">
      <div class="row  header__logo">
        <div class="col-md-3">
        </div>
        <div class="col-md-6  logo">
          <h1><a class="logo__link" href="index.html">Happy Birthday!</a></h1>
          <div class="logo__description">from lizhengyang</div>
        </div>
        <div class="col-md-3  header__right">
          <div class="top-icons">
            <div class="top-icons__search">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!--顶部导航栏-->
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item ">
            <a href="index.html">HOME</a>
          </li>
          <li class="nav__item nav__item--active">
            <a href="our_stories.html">Our Stories</a>
          </li>
          <li class="nav__item">
            <a href="Journey.html">Journey</a>
          </li>
          <li class="nav__item">
            <a href="study-hard.html">Study hard</a>
          </li>
          <li class="nav__item">
            <a href="wish-list.html">Wish List</a>
          </li>
        </ul>
      </nav>
      <div class="nav-toggle">
        <svg class="nav-toggle__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-toggle"></use>
        </svg>
      </div>
    </header>
    <!--滑动展示页-->
    <section class="container  top-slider">
      <div class="col-md-12">
        <div class="bxslider">
          <div>
            <div class="featured-image" style="background-image:url(../static/img/img2.jpg);">
              <div class="featured-image__bg"></div>
              <div class="featured-image__content">
                <span class="featured-image__content-category">
                  <a href="#">To my dear</a>
                </span>
                <span class="featured-image__content-title">
                  <a href="index.html"><h2>瑞迪小可爱生日快乐！</h2></a>
                </span>
                <p>如果你愿意的话，这一页可以用来持续更新故事，之后会实现可以在网页上直接添加的功能，目前的话还是只能我用代码来加.</p>
                <span class="featured-image__content-link">
                  <a href="#">By LZY</a>
                </span>
              </div>
            </div>
          </div>
          <div>
            <div class="featured-image" style="background-image:url(../static/img/img1.jpg);">
              <div class="featured-image__bg"></div>
              <div class="featured-image__content">
                <span class="featured-image__content-category">
                  <a href="#">Our Stories</a>
                </span>
                <span class="featured-image__content-title">
                  <a href="#">Fall In Love With You</a>
                </span>
                <p>print('\n'.join([''.join([('LZYLoveRila'[(x-y)%8]if((x*0.05)**2+(y*0.1)**2-1)**3-(x*0.05)**2*(y*0.1)
                  **3<=0 else' ')for x in range(-30,30)])for y in range(15,-15,-1)]))</p>
              </div>
            </div>
          </div>

          <div>
            <div class="featured-image" style="background-image:url(../static/img/img3.jpg);">
              <div class="featured-image__bg"></div>
              <div class="featured-image__content">
                <span class="featured-image__content-category">
                  <a href="#">Journey</a>
                </span>
                <span class="featured-image__content-title">
                  <a href="#">还记得我们的熊猫之旅吗</a>
                </span>
                <p>你我匆匆忙忙地逃出水泄不通的宽窄巷子，转而在临街的老巷漫游，嘻嘻哈哈地嘲笑那咖啡厅里的麻将桌.</p>
                <span class="featured-image__content-link">
                  <a href="#">Read More</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--主页展示内容-->
    <main>
      <div class="container">
        <div class="col-md-12">
          <div class="blog-post">
            <div class="blog-post-wrapper">
              <div class="blog-post__info  blog-post__info--top">
                <span><a href="#">Our Stories</a></span>
              </div>
              <div class="blog-post__title">
                <h2><a href="index.html">两只小猪的故事(一）</a></h2>
              </div>
              <div class="blog-post__info">
                <span>By <a href="#">Xrd&Lzy</a></span>
                <span>March 27, 2019</span>
                <span><a href="#">3 Comments</a></span>
              </div>
            </div>
            <div class="blog-post__image">
              <a href="#"><img src="../static/img/img_story.jpg" alt="两只小猪的故事(一）"></a>
            </div>
            <div class="blog-post-wrapper">
              <div class="blog-post__content">
                <p>这里有一只小猪，他在干什么?</p>
                <p>啊哈，他在给自己养的花花浇水呢。今天的小猪有点帅呀，穿了自己最喜欢的衣服，不过忘记穿鞋了。</p>
                <p>嗯？不对啊，猪猪需要穿什么鞋子，他就只有两根脚趾头。</p>
                <p>小猪心满意足地看着自己的花。</p>
                <p>这朵花是朵有名字的花，她叫小红红，小猪在山坡上野餐的时候发现了她，那是一个很美很美的山坡，漫山遍野盛开着五颜六色的鲜花，
                  小猪找了好久，才找到没有花朵的地方，铺上蓝白相间的格子巾，摆上美味的点心，悠闲地度过了一个惬意的下午。回程的路上，他欣赏着小路旁的花朵们
                  ，突然就看见了小红红。 这朵花比起她身旁那些妩媚艳丽的花儿们，实在是太黯淡了太柔弱了。耸拉着娇小的绿叶，垂着脑袋，一副没精打采的模样。小
                  猪心疼地蹲下来：“晒不到阳光，也喝不够雨露，你身旁的花花们都比你高大，要我带你回家吗？我会好好照顾你。”小花左摇右摆，很开心的样子。小猪笑了，
                  温柔地将它移到了布丁碗里边带回了家。
                </p>
                <p>小花便是那日在院子里扎下的根，被一圈青青绿草拥着，沐浴最灿烂的阳光，汲取甘甜的露珠，风儿喧嚣，小猪将她护在怀中，大雨倾盆，小猪为她支起小伞。
                </p>
                <p>自从带小红红回来也已经有半个月了，娇小的花瓣愈发鲜艳，甚至有一缕透明的光泽，唯一奇怪的是，小红红为什么从不长大呢？
                  他小心翼翼地修剪了小红红身旁已然快追上她高度的青草，想到这一个问题他就越来越忧愁，前一刻的满足早已烟云散尽。</p>
              </div>
              <div class="blog-post__footer">
                <a class="blog-post__footer-link" href="#">Read more</a>
              </div>
            </div>
          </div>
          <div class="blog-post">
            <div class="blog-post-wrapper">
                <div class="blog-post__info  blog-post__info--top">
                    <span><a href="#">Our Stories</a></span>
                </div>
                <div class="blog-post__title">
                    <h2><a href="index.html">两只小猪的故事(二）</a></h2>
                </div>
                <div class="blog-post__info">
                    <span>By <a href="#">Xrd&Lzy</a></span>
                    <span>March 28, 2019</span>
                    <span><a href="#">2 Comments</a></span>
                </div>
            <div class="blog-post-wrapper">
                <div class="blog-post__content">
                    <p> 忽然小猪记起，他父亲去年回家的时候从大森林的边境外给他带回来的礼物，一个微缩景观球。这是一个富含营养的独立生态系统，铺着大兴安岭东部的黑土壤，球侧有一个半圆凹槽蓄水池，露水经蓄水池流过元素补充器滋润土壤，球底有一块展开后约一丈方的太阳能板，用电能辅佐球内的碳循环，球内一片欣欣向荣。
                        但愿让小红红搬家到这里，她能茁壮地成长呀。<br>
                    可这个微缩景观球十分精密，设计复杂，稍有不慎便会打破整个生态系统的平衡，危害到小红红的健康。 于是小猪只能将小红红托付给经验丰富的父亲，请他帮忙照料她。<br>
                    可是——<br>
                    第一天。<br>
                    小猪：小红红走的第一天，想她。<br>第二天。<br>小猪：小红红走的第二天，想她。<br>
                    第三天。<br>
                    小猪：小红红走的第三天，想她！<br>
                    第四天。<br>
                    小猪：忍不了了！<br>
                    思念如同柔软黏腻的雪白蚕丝，将小猪一颗心攥得死死的，日日夜夜的想念缠得他快要窒息了。“今天就去探望小红红吧。”小猪这样想着，脚步变得轻快起来。想来这几日，没了小红红那抹娇艳美丽的红色陪伴他，他是食不下咽，夜不能寐，心脏总是吊在嗓子眼，再不去看望小红红，他都快死了。
                    小猪对着全身镜里的自己展开了一个微笑，整理了一下自己鹅黄色的小领结，便出了门。<br>
                    他走过带回小红红那片开满繁花的山坡，淌过生着翠绿水草，和尾尾游鱼的小池塘，穿过茂密得不见天日的森林，终于来到了父亲那幽静雅致的木屋。<br>
                    父亲领着他进入花房，一推门便是扑面而来的湿润的草木气息，夹杂着若隐若现的花香。藤蔓蜿蜒爬过花架，铃兰鸢尾轻轻地左右摇曳，绣球花和小桔梗更是清丽可爱。小猪一时不知道该看哪里，在这里逛了一圈又一圈。直到他猛地一拍脑袋，想起来小红红的存在。他找了很久，总算在花房的一排花架上发现了小红红。<br>
                    小红红看起来十分没精打采，在姹紫嫣红的百花中更是显得暗淡无光。就像今天的天气一样，厚厚的云层欺压着大地。<br>
                    小猪正沉溺在无边的自责之中，忽然一道惊雷霹雳而下，闪电穿透云层，击中了微型景观球，恐惧将他从愧疚深渊中拽了出来，他从未见过如此可怖的天雷，与自己只距毫厘，甚是忘记了真正应该受到毁灭性灾难的小红红。<br>
                    待到小猪回过神来，尾巴仍怯怯地蜷曲着，四肢软绵绵的。被击中的花房冒着滚滚浓烟，焦碳的气息，弥漫的尘灰呛得他喘不过气来。<br>
                    顾不上那么多了！<br>
                    小猪扶着木墙，拖着身躯，踉踉跄跄地逃了出去，但是整个屋子都已经没有了父亲的踪影，爸爸去哪儿了呢？
                    </p>
                </div>
                <div class="blog-post__footer">
                    <a class="blog-post__footer-link" href="#">Read more</a>
                </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container  page-footer__top">
        <div class="col-sm-5  col-md-5">
          <div class="page-footer__top-about">
            <h4>LzyLoveXrd</h4>
            <p>喜欢你就像东京塔下飘落的樱花.喜马拉雅的冰川.缠缠绵绵的明月</p>
            <p>Date: 2019.04.02</p>
            <p>Email: <a href="Mailto:292424886@qq.com">想我了就微信震我！</a></p>
          </div>
        </div>
        <div class="col-sm-3  col-md-3">
          <h4>Categories</h4>
          <nav class="page-footer__nav">
            <ul class="page-footer__nav-items">
              <li class="page-footer__nav-item">
                <a href="our_stories.html">Our Stories</a>
              </li>
              <li class="page-footer__nav-item">
                <a href="Journey.html">Journey</a>
              </li>
              <li class="page-footer__nav-item">
                <a href="study-hard.html">Study hard</a>
              </li>
              <li class="page-footer__nav-item">
                <a href="wish-list.html">Wish list</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-4  col-md-4">
          <h4>Recent Posts</h4>
          <div class="page-footer__recent-post">
            <div class="page-footer__recent-post-info">
              <div class="page-footer__recent-post-content">
                <a href="#">Why Are You So beautiful,Babe?</a>
              </div>
              <div class="page-footer__recent-post-date">
                <span>March 29, 2019</span>
              </div>
            </div>
          </div>
          <div class="page-footer__recent-post">
            <div class="page-footer__recent-post-info">
              <div class="page-footer__recent-post-content">
                <a href="#">Fall In Love With You</a>
              </div>
              <div class="page-footer__recent-post-date">
                <span>February 14, 2019</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container  page-footer__bottom">
        <div class="col-sm-8  col-md-8  page-footer__bottom-copyright">
            <p>2019 © Xrd & LZY's blog by Lizhengyang.</p>
        </div>
      </div>
    </footer>
    <div class="search-popup">
      <svg class="search-popup__close">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
      </svg>
      <div class="search-popup__container  container">
        <form action="index.html">
          <input type="text" size="32" placeholder="Search">
        </form>
      </div>
	</div>
    <div class="content-overlay"></div>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/jquery.slicknav.min.js"></script>
    <script src="../static/js/jquery.bxslider.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
